* {
    font-family: 'Itim', cursive;
}

body {
    background-color: #15c1f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    overflow: auto;
    max-height: 100px;
    max-width: ;
    text-align: center;
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(219, 62, 62, 0.1);
}

h1, .box {
    color: #ed1919;
    text-align: center;
}

form {
    margin-bottom: 20px; 
}

input[type="number"] {
    padding: 5px;
}

input[type="submit"] {
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049; 
}
