* {
    font-family: 'Itim', cursive;
}

body {
    
    background: url('https://media2.giphy.com/media/vUF3ACTeBPUqs/giphy.gif');
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1,
.box {
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px; 
}

.container {
    overflow: scroll;
    max-height: 500px; 
    max-width: 100vw; 
    text-align: center;
    background: url('https://as1.ftcdn.net/jpg/02/87/80/16/220_F_287801666_61S03Al1VSLfI6wcQqY5YfEHhjdmshNo.jpg');
    border-radius: 15px;
}

form {
    margin-bottom: 40px;
}

input[type="number"] {
    padding: 5px;
}

input[type="submit"] {
    padding: 8px;
    cursor: pointer;
    background-color: #a6a9a6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #c4c5eb;
}
